*{margin: 0; padding: 0; box-sizing: border-box;}

header{
    width: 100%;
    max-width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    z-index: 2;
}

.logo{
    margin-top: 2%;
}

nav{
    margin-top: 2%;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li{
    padding-left: 20px;
    padding-right: 20px;
}

li a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    font-size: 18px;
}

.acao{
    margin-top: 1%;
}

.btn{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background: linear-gradient(to left top,  hsl(192, 70%, 51%), hsl(136, 65%, 51%));
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding: 15px;
}

a{
    text-decoration: none;
}

/*introducao*/

.introducao{
    width: 100%;
    height: 1030px;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: row;
}

.esquerda{
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao{
margin-left: 15%;
margin-right: 15%;
}

.direita{
    width: 50%;
    min-height: 700px;
}

#intro-desk{
    margin-top: -170px;
    margin-left: -140px;
}

h1{
    font-size: 50px;
    font-family: sans-serif;
    color: hsl(233, 26%, 24%);
    font-weight: 50;
    padding-bottom: 30px;
}

p{
    width: fit-content;
    font-size: 18px;
    font-family: sans-serif;
    color: hsl(233, 8%, 62%);
    padding-top: 5px;
}

#btn-distan{
    padding-top: 30px;
}

#img-mockups{
    position: absolute;
    z-index: 1;
    margin-top: -68%;
    margin-left: 3%;

}

/*fim*/

/*Caracteristicas */

.caracteristicas{
    width: 100%;
    height: 700px;
    background-color: hsl(220, 16%, 96%);
    display: flex;
    flex-direction: column;
    margin-top: -245px;
}

/*fim*/