*{margin: 0; padding: 0; box-sizing: border-box;}

header{
    width: 100%;
    max-width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    z-index: 2;
}

.logo{
    margin-top: 2%;
}

nav{
    margin-top: 2%;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li{
    padding-left: 20px;
    padding-right: 20px;
}

li a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    font-size: 18px;
}

.acao{
    margin-top: 1%;
}

.btn{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background: linear-gradient(to left top,  hsl(192, 70%, 51%), hsl(136, 65%, 51%));
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding: 15px;
}

@media only screen and (max-device-width: 900px) {
    .btn{
        margin-left: auto;
        margin-right: auto;
    }
}

a{
    text-decoration: none;
}

@media only screen and (max-device-width: 900px) {
    header{
        display: none;
    }
}

/*introducao*/

.introducao{
    width: 100%;
    height: 1030px;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.esquerda{
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao{
margin-left: 15%;
margin-right: 15%;
}

.direita{
    width: 50%;
    min-height: 700px;
}

#intro-desk{
    margin-top: -170px;
    margin-left: -140px;
}

h1{
    font-size: 50px;
    font-family: sans-serif;
    color: hsl(233, 26%, 24%);
    font-weight: 50;
    padding-bottom: 30px;
}

p{
    width: fit-content;
    font-size: 18px;
    font-family: sans-serif;
    color: hsl(233, 8%, 62%);
    padding-top: 5px;
}

#btn-distan{
    padding-top: 30px;
}

#img-mockups{
    margin-top: -135%;
    margin-left: 3%;

}

@media only screen and (max-device-width: 900px) {
    .introducao{
        flex-direction: column;
    }

    .esquerda{
        width: 100%;
    }

    .direita{
        display: none;
    }

    .apresentacao{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}


/*fim*/

/*Caracteristicas */

.caracteristicas{
    width: 100%;
    min-height: 550px;
    background-color: hsl(220, 16%, 96%);
    display: flex;
    flex-direction: column;
    margin-top: -255px;
}

#razao{
    margin-top: 5%;
}

.descricao{
    margin-left: 8%;
}

h2{
    font-size: 30px;
    font-family: sans-serif;
    color: hsl(233, 26%, 24%);
    font-weight: 50;
    padding-bottom: 20px;
}

.linha-carcteristicas{
    width: 80%;
    min-height: 300px;
    margin-left: 8%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mini-caracteristicas{
    width: fit-content;
    display: flex;
    flex-direction: column;

}

#mini-img{
    width: 100px;
    padding-bottom: 20px;
}

#mini-titulo{
    padding-bottom: 20px;
}

#min-p{
    font-size: 16px;
}

h3{
    font-size: 22px;
    font-family: sans-serif;
    color: hsl(233, 26%, 24%);
    font-weight: 50;
}

@media only screen and (max-device-width: 900px) {

    .linha-carcteristicas{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }

    .mini-caracteristicas{
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        align-items: center;
    }
}

/*fim*/

/*recentes*/

.recentes{
    width: 100%;
    min-height: 600px;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
}

#tit-recentes{
    margin-left: 8%;
    margin-top: 5%;
}

.linha-recentes{
    width: 80%;
    min-height: 300px;
    margin-left: 8%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mini-recentes{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-right: 2%;
}

#img-rece{
    width: 100px;
}

span{
    margin-top: 7%;
    margin-left: 7%;
    padding-bottom: 10px;
    font-size: 12px;
    color: hsl(233, 8%, 62%);
}

#mini-titulo-rece{
    margin-left: 7%;
    padding-bottom: 10px;
}

#mini-paragrafo-rece{
    margin-left: 7%;
    padding-bottom: 10px;
}

#min-p-rece{
    font-size: 14px;
}

@media only screen and (max-device-width: 900px) {

    .linha-recentes{
        width: 100%;
        margin-top: 5%;
        margin-left: 6%;
        flex-direction: column;
    }

    .mini-recentes{
        width: 90%;
        margin-top: 5%;
    }

    #tit-recentes{
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
    }

}

/*fim*/

/*footer*/

footer{
    width: 100%;
    height: 230px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: row;
}

.social{
    width: 15%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
}

#logo-foot{
    margin-left: auto;
    margin-right: auto;
}

#redes{
    margin-top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-foot-left{
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-left: 7%;
}

.nav-foot-right{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-left: 5%;
}

#ul-foot{
    display: block;
}

#li-foot{
    padding-bottom: 15px;
}

#li-foot a{
    color: hsl(0, 0%, 98%);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 50;
}

#direitos{
    display: block;
    margin-top: 5%;
    margin-left: 13%;
}

#to-right{
    margin-left: 5%;
}

#p-rights{
    margin-top: 10%;
}

#link-rights{
    font-size: 14px;
    color: hsl(233, 8%, 62%);
}

/*fim*/